* {
    padding: 0;
}

.active {
    text-decoration: underline;
}

body {
    background-color: #212529;
}

h1 {
    color: white;
}

label {
    color: white;
}

.text-muted {
    color: #86929d;
}

.welcome {
    text-align: center;
    padding: 50px;
}

.welcome img {
    display: inline-block;
    align-items: center;
    margin-left: -150px;
}